:root{
--BaseColor: #FFFFFF;
--TextColor: #171717;
--SecondTextColor: #3f3f3f;
--PrimaryColor: #737373;
--blend: #4ea8de;
}
.darkmode{
--BaseColor: #000000;
--TextColor: #a7a6a6;
--SecondTextColor: #b1b0b0;
--PrimaryColor: #232323;
--blend: #4ea8de;
}
#theme-toggle img:last-child{
    display: none;
}
.darkmode #theme-toggle img:first-child{
display: none;
background-color: white;

}
.darkmode #theme-toggle img:last-child{
display: block;
}

#theme-toggle {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  width: 30px;
  height: 30px;
}
#theme-toggle img{
  width: 100%;
  height: 100%;

}